.ant-modal-wrap {
  &.file-viewer-delete-wrapper {
    .ant-modal {
      height: 140px !important;
      .ant-modal-title {
        @include Main-highlight;
      }
      .ant-modal-body {
        height: 0px !important;
        padding-top: 30px !important;
      }
    }
  }
}
.file-viewer {
  .ant-modal-mask {
    background-color: rgba(52, 52, 52, 0);
  }
  .no-file {
    width: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    @include Second-title-backup;
  }
  .drag-content {
    margin: 3px 0 0 0;
    display: inline-block;
  }
  .one-file-card {
    float: left;
    margin: 8px 29px 8px 0px;
    overflow: visible;
    user-select: none;
    &:nth-child(3n) {
      margin: 8px 0px;
    }
  }
  .tool-title {
    justify-content: space-between;
    display: flex;
    width: 570px;
    margin-bottom: 20px;
  }
  .divider-line {
    margin-bottom: 0;
  }

  .drag-content {
    width: 100%;
  }
}
.file-title-wrapper {
  display: flex;
  .file-middle-tips {
    margin-left: 130px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    @include Second-title-backup;
  }
}
.file-title {
  font-size: 14px;
  color: #1e1e1e;
  line-height: 20px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  @include Title-highlight;
}

.file-counter {
  font-size: 12px;
  color: #9c9c9c;
  height: 20px;
  margin-left: 5px;
}
