.pincode-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .invalid-message {
    display: none;
  }
  .info-message {
    display: block;
  }
  &.is-error {
    .invalid-message {
      @include Second-title-backup;
      line-height: 17px;
      color: $co-reject;
      display: block;
    }
    .info-message {
      display: none;
    }
    .pincode-code {
      border-color: $co-reject;
      label {
        border-color: $co-reject;
        &.active {
          border-color: $co-reject;
        }
      }
    }
  }
}
