@keyframes shine {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden-input {
  opacity: 0;
}

.pincode-input {
  margin-bottom: 20px;
  height: 32px;
  cursor: text;
  &.is-focus {
    .pincode-code {
      .pincode-text-grid {
        &.active::after {
          display: inline-block;
          position: absolute;
          content: "";
          background: #343434;
          height: 16px;
          width: 1px;
          top: calc(50% - #{16px / 2});
          right: 50%;
          animation: shine 0.5s infinite alternate;
        }
      }
    }
  }
}

.pincode-group-8code {
  width: 230px;
}
.pincode-group-6code {
  width: 170px;
}
.pincode-group {
  position: relative;
  margin-bottom: 55px - 20px;
}
