.team-name-editable {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
  font-size: $second-title-fs;
  height: 28px;
  .editing {
    display: flex;
    width: 100%;
    .editRemark-input {
      padding: 0;
      width: 100%;
    }
    .team-name-input {
      @include Title;
      border: none;
    }
    .search-input {
      width: 100%;
      background-color: #ffffff;
    }
    .icon-svg {
      margin-left: 10px;
    }
  }
  .not-edit {
    display: flex;
    align-items: center;
    .descript {
      @include Title;
    }
    .option {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .ant-input {
    font-size: 12px;
  }
}

.group-editRemark-input {
  @include Title;
}
