/* 标题 */
@mixin Title-highlight {
  font-size: $title-fs;
  color: $co-darker-grey;
  font-weight: bold;
}
@mixin Title {
  font-size: $title-fs;
  color: $co-darker-grey;
  font-weight: normal;
}
/* 正文 */
@mixin Main-highlight {
  font-size: $main-fs;
  color: $co-darker-grey;
  font-weight: bold;
}
@mixin Main {
  font-size: $main-fs;
  color: $co-darker-grey;
  font-weight: normal;
}
@mixin Main-backup {
  font-size: $main-fs;
  color: $co-grey;
  font-weight: normal;
}
@mixin Main-second-backup {
  font-size: $main-fs;
  color: $co-lighter-grey;
  font-weight: normal;
}

/* 小标题 */
@mixin Second-title-highlight {
  font-size: $second-title-fs;
  color: $co-darker-grey;
  /*font-weight: bold;*/
}
@mixin Second-title {
  font-size: $second-title-fs;
  color: $co-grey;
  font-weight: normal;
}
@mixin Second-title-backup {
  font-size: $second-title-fs;
  color: $co-lighter-grey;
  font-weight: normal;
}
