@mixin btn($btn-size) {
  background-color: $co-normal-primary;
  height: $btn-size;
  line-height: $btn-size;
  color: $co-bg-default;
  border: 0;
  &:hover {
    cursor: pointer;
    background-color: $co-btn-hover;
    color: $co-bg-default;
    border: 0;
  }
  &:focus,
  &:active {
    background-color: $co-btn-press;
    color: $co-bg-default;
    border: 0;
  }
}

// icon default mixin;
@mixin load_icon($basePath) {
  background-image: url(~/assets\/images\/#{$basePath}\/default.svg);
}
@mixin load_active_icon($basePath) {
  background-image: url(~/assets\/images\/#{$basePath}\/active.svg);
}

/*
 * @File:  信息展示样式
 * @Date: 2018-08-21 00:42:06 
 * @Last Modified by: xutao@cvte.com
 * @Last Modified time: 2018-08-21 13:15:26
 */

@mixin user-avatar-small {
  width: $avatar-small-size;
  height: $avatar-small-size;
}
@mixin user-avatar-middle {
  width: $avatar-middle-size;
  height: $avatar-middle-size;
}
@mixin user-avatar-big {
  width: $avatar-big-size;
  height: $avatar-big-size;
}

/* 弹窗 */
@mixin modal-bg {
  background-color: $co-bg-default;
  border: 1px solid $co-bg-darker;
  /* $co-dark*/
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

@mixin common-text-input {
  background-color: $co-bg-default;
  border: 1px solid $co-bg-darker;
  border-radius: 4px;
  font-size: $second-title-fs;
  padding-left: 8px;
  &::-webkit-input-placeholder {
    color: $co-lighter-grey;
    font-size: $second-title-fs;
  }
  &:focus,
  &:active {
    border: 1px solid $co-normal-primary;
    color: $co-darker-grey;
    outline: 0;
  }
  &.disabled {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    cursor: not-allowed;
    &::-webkit-input-placeholder {
      color: $co-lighter-grey;
      font-size: $second-title-fs;
    }
  }
}

@mixin tip-popover-back {
  background-color: rgba(64, 64, 64, 0.85);
}
