html,
body,
#root,
.top-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: 640px;
  overflow: hidden;
}

#root > * {
  font-family: $mac-zh-default-font, $win-zh-default-font, $zh-backup-font,
    $en-font, $en-backup-font, $en-secondary-backup-font !important;
  user-select: none;
}
img {
  -webkit-app-region: no-drag;
  -webkit-user-drag: none;
}

@keyframes ShowRightMessage {
  0% {
    opacity: 0;
    transform: translate(10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
