.one-file-card {
  display: flex;
  width: 170px;
  height: 48px;
  position: relative;
  margin: 10px;
  .close-icon-btn {
    position: absolute;
    right: -6px;
    top: -6px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }
  .file-icon {
    width: 56px;
    height: 48px;
  }
  .file-message {
    width: 114px;
    height: 48px;
  }

  .file-name {
    width: 91px;
    height: 17px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 6px 13px 2px 10px;
    font-size: 12px;
    color: $co-darker-grey;
  }

  .size-loading {
    height: 17px;
    width: 100%;
    margin: 2px 0 6px 0;
    color: $co-grey;
    font-size: 12px;
    overflow: hidden;
  }

  .total-size {
    float: left;
    width: 36px;
    height: 17px;
    margin: 0 6px 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .upload-fail {
    float: left;
    color: $co-reject;
    width: 75px;
    height: 100%;
    margin: 0px 0px 0px 10px;
  }
  .re-upload-icon {
    float: left;
    margin: 3px;
    width: 13px;
    height: 13px;
    margin: 4px 8px 1px 8px;
    background-image: url(~/assets/images/files/reloadStatic.svg);
    border-radius: 50%;
    cursor: pointer;
    &:active {
      background-image: url(~/assets/images/files/reloadClick.svg);
    }
  }
  .loading-percentage {
    float: left;
    width: 52px;
    height: 3px;
    background: white;
    margin: 10px 0 4px 0px;
  }
  .loading-percentage-bar {
    height: 3px;
    transition: all 0.5s;
    background-color: $co-normal-primary;
  }

  &.excel {
    .file-icon {
      background-image: url(~/assets/images/files/Excel.svg);
    }
    .file-message {
      background-color: $co-lighter-excel;
    }
  }

  &.pdf {
    .file-icon {
      background-image: url(~/assets/images/files/Pdf.svg);
    }
    .file-message {
      background-color: $co-lighter-pdf;
    }
  }

  &.pic {
    .file-icon {
      background-image: url(~/assets/images/files/Pic.svg);
    }
    .file-message {
      background-color: $co-lighter-pic;
    }
  }

  &.ppt {
    .file-icon {
      background-image: url(~/assets/images/files/Ppt.svg);
    }
    .file-message {
      background-color: $co-lighter-ppt;
    }
  }

  &.rar {
    .file-icon {
      background-image: url(~/assets/images/files/Rar.svg);
    }
    .file-message {
      background-color: $co-lighter-rar;
    }
  }

  &.txt {
    .file-icon {
      background-image: url(~/assets/images/files/Txt.svg);
    }
    .file-message {
      background-color: $co-lighter-txt;
    }
  }

  &.unknown {
    .file-icon {
      background-image: url(~/assets/images/files/Unknown.svg);
    }
    .file-message {
      background-color: $co-lighter-unknown;
    }
  }

  &.word {
    .file-icon {
      background-image: url(~/assets/images/files/Word.svg);
    }
    .file-message {
      background-color: $co-lighter-word;
    }
  }

  &.zip {
    .file-icon {
      background-image: url(~/assets/images/files/Zip.svg);
    }
    .file-message {
      background-color: $co-lighter-zip;
    }
  }
}
