/* 搜索结果 */

.contact-search-add {
  margin-top: 20px;
}
.search-people-loading-result {
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.search-loading-wrapper {
  display: flex;
  .search-loading-svg {
    background-position: center;
    background-origin: center;
    background-image: url(~/assets/images/toast/search-loading.svg);
    height: 20px;
    width: 20px;
    animation-duration: 2s;
    margin-right: 10px;
  }
  .search-loading-content {
    @include Main;
  }
}

.search-result-container-v2 {
  width: 100%;
  display: flex;
  position: relative;
  .scrollbar-base {
    min-height: 57px;
    max-height: 245px;
    width: 100%;
  }
  .extra-error-text {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .search-result-info {
    display: flex;
    flex: 1;
  }
  .result-text-info__name {
    padding-right: 16px;
    @include Main;
    white-space: nowrap;
  }
  .result-text-info__symbol {
    padding-right: 16px;
    line-height: 1.5;
    @include Second-title-backup;
    max-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }
  .teams-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    cursor: pointer;
  }
  .search-result {
    padding: 10px;
    display: flex;
    flex: 1;
    overflow: hidden;
    max-height: 74px;
    min-height: 57px;
    .person-selector {
      width: 24px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.add-contact-not-first-style {
      padding: 10px 0 0;
    }
    &.add-contact-first-style {
      min-height: 47px;
      max-height: 64px;
      padding: 0;
    }
  }
  .search-result-text-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    .result-text-info__name,
    .result-text-info__symbol {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .search-result-info {
    overflow: hidden;
  }
  .search-result-add-status {
    width: 24px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .teams-icon {
      width: 24px;
      height: 24px;
    }
  }
  .search-result-add-text {
    display: flex;
    align-items: flex-end;
    @include Second-title-backup;
  }
  .search-result-member-has_added {
    align-self: flex-end;
    @include Second-title-backup;
  }
  // 用于添加联系人
  &.add-contact-style {
    padding-bottom: 0;
    .search-result-add-status {
      height: 40px;
    }
  }
}
