.friend-style {
  padding-top: 90px;
  background: white;
}

.friend-style .contactInfomationCard {
  width: 250px;
  .ant-modal-mask {
    background-color: rgba(52, 52, 52, 0);
  }
}

.contactInfomationCard-startInfo {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  overflow: hidden;
  width: 250px;
  @include Title-highlight;
  .teams-icon {
    width: 20px;
    height: 20px;
  }
}

.contentInfomationCard-startInfo-name-wrapper {
  display: grid;
}

.contactInfomationCard-startInfo-name {
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  white-space: nowrap;
  float: left;
  @include Second-title-backup;
}

.contactInfomationCard-startInfo-remark {
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  white-space: nowrap;
  float: left;
}

.contactInfomationCard {
  width: $card-width;
}
.friend-style {
  .contactInfomationCard {
    width: auto;
  }
}

.contactInfomationCard-baseInfos-lists,
.contactInfomationCard-baseInfos-item {
  list-style: none;
  padding-left: 0;
}
.contactInfomationCard-baseInfos-item {
  display: flex;
  align-items: stretch;
  line-height: 1;
  height: 30px;
}
.contactInfomationCard-baseInfos-item-title {
  @include Second-title-backup;
}
.contactInfomationCard-baseInfos-item-value {
  margin-left: 20px;
  flex: 1;
  @include Second-title-highlight;
  width: 10em;
  &.clamp-text {
    line-height: 1.5;
  }
}
.remark-wrapper {
  .icon-edit {
    width: 14px;
    height: 14px;
    // margin-left: 6px;
  }
  .remark-wrapper-text {
    @include Second-title-backup;
    max-width: 10em;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    white-space: nowrap;
  }
}
.contactInfomationCard-invitemeeting-btn {
  display: flex;
  justify-content: center;
}
