.icon-svg {
  display: inline-block;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; /* cover// contain */
  /* box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.2); */
}

.icon-svg.square {
  border-radius: 0;
}
.icon-svg.circle {
  border-radius: 50%;
}
