.input-file {
  .file-input {
    display: none;
  }
  display: flex;
  align-items: center;
  height: 17px;
}

.add-file-btn {
  color: #767676;
  display: flex;
  align-items: center;
  cursor: pointer;
  .add-members-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    // margin: 0px 6px;
    background-image: url(~/assets/images/group_manage/add-members/default.svg);
  }
  &:hover,
  &:active {
    .add-members-icon {
      background-image: url(~/assets/images/group_manage/add-members/active.svg);
    }
    color: #1e1e1e;
  }
  .add-file-word {
    display: inline-block;
    line-height: 17px;
    font-size: 12px;
  }
}
