.selector-modal {
  &.ant-modal-wrap {
    .ant-modal {
      width: 600px !important;
      height: 600px !important;
    }
  }
  iframe {
    width: 100%;
    height: 80%;
  }
  .ant-modal-body {
    height: 100% !important;
  }
}

.meeting-address-choose-btn {
  margin-left: 10px;
  height: 28px !important;
  width: 126px !important;
  border-radius: 4px !important;
  @include Main-backup;
  display: flex;
  justify-content: center;
  color: #ffffff !important;
  /* 地址 */
  .icon-address {
    margin-right: 10px;
    @include load_icon(choose_address);
  }
  &:hover {
    .icon-address {
      @include load_active_icon(choose_address);
    }
  }
}

.meeting-address-btn {
  margin-left: 10px;
  height: 28px !important;
  width: 126px !important;
  border-radius: 4px !important;
  border: 1px solid #e9e9e9 !important;
  @include Main-backup;
  display: flex;
  justify-content: center;
  /* 地址 */
  .icon-address {
    margin-right: 10px;
    @include load_icon(address);
  }
  &:hover {
    .icon-address {
      @include load_active_icon(address);
    }
    color: #343434 !important;
    border: 1px solid #767676 !important;
  }
  &:active {
    .icon-address {
      @include load_active_icon(address);
    }
    background-color: #f4f4f4 !important;
    color: #343434 !important;
  }
}

.input-line-meeting-be-used-string {
  position: absolute;
  right: 20px;
  top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  line-height: 21px;
  height: 21px;
  margin-left: 10px;
  color: $co-reject;
  font-size: $second-title-fs;
}

.repeat-edit-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.address-selector-pop {
  border: 1px solid #e9e9e9 !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  width: 552px !important;
  height: 509px !important;
  border: 0 !important;
  .address-selector-top {
    position: relative;
    padding-bottom: 20px;
    .address-selector-title {
      padding-top: 20px;
      line-height: 25px;
      text-align: center;
      @include Title-highlight;
      margin: 0;
    }
    .address-selector-close {
      position: absolute;
      top: 28px;
      right: 20px;
      width: 10px;
      height: 10px;
    }
  }
  .address-selector-divider {
    border: none;
    margin: 0px;
    background-color: $co-bg-darker;
    height: 1px;
  }
  .address-selector-iframe {
    border-style: none !important;
    height: 443px;
    width: 552px;
  }
}
