$co-title-height: 20px;
$co-content-height: 17px;

@mixin TopLeft {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
}
.meeting-page {
  background: white;
  width: 100%;
  position: relative;
  .menu-content-scroll {
    width: $menu-width;
  }
  .ant-menu-inline {
    border: none;
  }
  > .content-switcher {
    margin-left: -10;
  }
}

#root {
  .ant-menu-inline {
    border: none;
  }
}

.meeting-title-update-popover {
  .ant-popover-inner {
    opacity: 0.85;
    background-color: #404040;
  }
  .ant-popover-arrow {
    opacity: 0.85;
    background-color: #404040;
  }
  .ant-popover-inner-content {
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    .meeting-title-popover-flex {
      display: flex;
      align-items: center;
      .meeting-title-update-content {
        color: #ffffff;
        font-size: 12px;
        line-height: $co-content-height;
        width: 68px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .meeting-title-update-change {
        color: #ffffff;
        font-size: 12px;
        line-height: $co-title-height;
        margin-left: 13px;
        margin-right: 10px;
      }
    }
  }
}

.meeting-title-conflict-popover {
  .ant-popover-inner {
    opacity: 0.85;
    background-color: #404040;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  }
  /*原生的箭头会重叠导致*/
  .ant-popover-arrow {
    opacity: 0.85 !important;
    background-color: rgba(0, 0, 0, 0);
    width: 0 !important;
    height: 0 !important;
    bottom: -2px !important;
    position: absolute;
    border-width: 6px !important;
    border-style: solid !important;
    box-shadow: 0 0 0 0 !important;
    border-color: #404040 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
    transform: rotate(0deg) !important;
  }
  .ant-popover-inner-content {
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    .meeting-title-popover-flex {
      display: flex;
      align-items: center;
      .meeting-title-inviting-time {
        color: #ffffff;
        font-size: 12px;
        line-height: $co-content-height;
        margin-right: 13px;
      }
      .meeting-title-inviting-title {
        color: #ffffff;
        font-size: 14px;
        line-height: $co-title-height;
      }
    }
  }
}

/* 管理会议成员
.attending-person-name {
}
*/
.meeting-content {
  padding-top: 10px;
}
.meeting-member-manage {
  .icon-add-members {
    margin-right: 10px;
  }
}
.meeting-page-content {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.meeting-common-page,
.meeting-common-page .content-scroll-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
