@mixin Iconsvg($name) {
  background-image: url(~/assets/images/SimditorToolbar/#{$name}.svg);
}
/* 编辑器的工具条的样式 */
.react-editor {
  .simditor .simditor-toolbar > ul > li .toolbar-item,
  .simditor .toolbar-menu-alignment > ul > li .menu-item {
    width: 32px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    &.menu-item {
      padding: 0px;
    }
    span {
      display: inline-block;
      width: 32px;
      height: 20px;
      &::before {
        content: "";
        display: inline-block;
        background-position: center;
        background-size: 100%;
        width: 14px;
        height: 14px;
        background-repeat: no-repeat;
        margin: 3px;
      }
    }
  }

  /*  toolbar or menu toolbar ul style */
  .simditor .toolbar-menu-alignment.toolbar-menu-alignment > ul {
    padding: 0px;
    height: 100%;
    > li {
      margin-bottom: 5px;
    }
  }
  .simditor .simditor-toolbar {
    ul {
      > li {
        margin-right: 2px;
        height: 100%;
        display: flex;
        align-items: center;
        .toolbar-item.active {
          border-radius: 4px;
          background: #f2f2f2;
        }
      }
    }
  }
  .simditor-icon-italic:before {
    @include Iconsvg("italic");
  }
  .simditor-icon-underline:before {
    @include Iconsvg("underline");
  }
  .simditor-icon-strikethrough:before {
    @include Iconsvg("strikethrough");
  }
  .simditor-icon-list-ul:before {
    @include Iconsvg("ul");
  }
  .simditor-icon-tint:before {
    @include Iconsvg("fontColor");
  }
  .simditor-icon-align-center:before {
    @include Iconsvg("alignCenter");
  }
  .simditor-icon-list-ol:before {
    @include Iconsvg("ol");
  }
  .simditor-icon-minus:before {
    @include Iconsvg("line");
  }
  .simditor-icon-picture-o:before {
    @include Iconsvg("picture");
  }
  .simditor-icon-align-right:before {
    @include Iconsvg("alignRight");
  }
  .simditor-icon-table:before {
    @include Iconsvg("table");
  }
  .simditor-icon-align-left:before {
    @include Iconsvg("alignLeft");
  }
  .simditor-icon-bold::before {
    @include Iconsvg("bold");
  }
  .simditor-icon-indent::before {
    @include Iconsvg("indent");
  }
  .simditor-icon-outdent::before {
    @include Iconsvg("outdent");
  }
  .simditor
    .simditor-toolbar
    > ul
    > li
    > .toolbar-item.toolbar-item-title
    .simditor-icon-bold:before {
    @include Iconsvg("bold");
  }
  .simditor .simditor-toolbar > ul > li > .toolbar-item.toolbar-item-title {
    &.active-h1 span:before {
      @include Iconsvg("h1");
    }
    &.active-h2 span:before {
      @include Iconsvg("h2");
    }
    &.active-h3 span:before {
      @include Iconsvg("h3");
    }
    &.active-h4 span:before {
      @include Iconsvg("h4");
    }
    &.active-h5 span:before {
      @include Iconsvg("h5");
    }
    span:before {
      @include Iconsvg("h");
    }
  }
}
