$co-toolmenu: white;
.react-editor {
  background: #fff;
  // 编辑文档的展示
  .content-viewer {
    border: 1px solid transparent;
    position: relative;
    // z-index: 1;
  }

  // 编辑器
  .simditor {
    .simditor-wrapper {
      background: transparent;
    }
    border-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    .simditor-toolbar {
      height: 34px;
      &.fixed > ul {
        position: fixed;
        border: 1px solid $co-bg-darker;
        z-index: $z-simditor-toolbar;
        background: white;
      }
      > ul > li {
        &.menu-on .toolbar-item {
          border-radius: 4px 4px 0px 0px;
          border: 1px solid #e9e9e9;
          border-bottom: none;
          height: 20px;
          background: $co-toolmenu;
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          &.active {
            background: $co-toolmenu;
          }
        }
      }
      > ul {
        padding-left: 13px;
        height: 34px;
        display: flex;
        align-items: center;
      }
      .separator {
        margin: 0px;
        margin: 8px;
        height: 14px;
        border-color: #cfcfcf;
      }
      .toolbar-menu {
        top: 26px;
        background: $co-toolmenu;
        box-shadow: none;
        border: none;
        border: 1px solid #e9e9e9;
        border-radius: 0px 4px 4px 4px;
        &:before {
          width: 30px;
          height: 3px;
          background: $co-toolmenu;
        }
        ul {
          box-shadow: 0 5px 10px 0 #e9e9e9;
          border-radius: 0px 4px 4px 4px;
          overflow: hidden;
          background: $co-toolmenu;
          li {
            margin: 0px;
            .menu-item {
              width: 100%;
            }
            .separator {
              margin: 6px 6px;
              display: block;
              height: 1px;
              width: 100%;
              border-top: 1px solid #767676;
            }
            .menu-item {
              &:hover {
                transition: all 0.5s;
                background: #f2f2f2;
              }
            }
          }
          .menu-create-table {
            border-radius: 4px 4px 4px 4px;
            padding: 6px;
          }
        }

        &.toolbar-menu-color .color-list {
          height: 30px;
        }
      }
      .toolbar-menu-title {
        ul > li .menu-item {
          width: 100%;
          padding-left: 10px;
        }
        border-radius: 0px 4px 4px 4px;
      }
      .toolbar-menu-alignment {
        border-radius: 0px 0px 4px 4px;
      }
    }
    /* 弹框的 */
    .simditor-popover {
      opacity: 0.99;
      background: $co-toolmenu;
      .settings-field {
        margin: 5px;
        height: 35px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
      }
      input {
        @include common-text-input;
      }
      input.image-src {
        display: none;
      }
      .imageDescription {
        display: none;
      }
      .image-src-show {
        width: 214px;
        height: 29px;
        border-radius: 4px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: white;
        background: #3ac3c8;
        text-align: center;
        line-height: 29px;
        padding: 0px 10px;
        cursor: pointer;
      }
      #image-alt {
        width: 214px;
      }
      border-radius: 5px;
      overflow: hidden;
      border: none;
      box-shadow: 0 0 4px -2px rgba(0, 0, 0, 0.1);
    }
  }
  position: relative;
}

/* 重置编辑器的文档的样式 */
.editor-style.editor-style,
.simditor .simditor-body.simditor-body {
  --styled: "reset the simditor document style";
  padding: 0px;
  font-size: 14px;
  line-height: 1.5;
  p {
    margin-bottom: 0px;
    line-height: 1.5;
    font-size: 14px;
  }
  ol,
  ul {
    padding-left: 24px;
    margin: 6px 0px;
  }
  h1 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 6px;
    margin-top: 14px;
  }
  h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
    margin-top: 13px;
  }
  h3 {
    font-size: 16px;
    line-height: 22px;
    margin-top: 12px;
    margin-bottom: 6px;
  }
  h4 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 6px;
  }
  h5 {
    font-size: 12px;
    line-height: 17px;
    margin-top: 10px;
    margin-bottom: 6px;
  }
}

body {
  ::selection {
    background: #f2f2f2;
    color: #343434;
  }
}
