.add-group-viewer {
  @include FixCenter;
  z-index: $z-popViewer;
  &.close {
    display: none;
    animation: none;
    .content {
      animation: none;
    }
  }
  &.show {
    display: flex;
    animation: FadeIn 0.3s forwards;
    .content {
      animation: Show 0.3s forwards;
    }
  }
}
