.meeting-subject-title-editable {
  max-width: 468px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meeting-subject-title-editing {
  max-width: 374px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
