.meeting-address-popover {
  max-width: 250px;
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-content,
  .ant-popover-inner {
    width: 100%;
    height: 100%;
  }
  .ant-popover-inner {
    padding: 10px;
  }
  .ant-popover-title,
  .ant-popover-inner-content {
    padding: 0;
    .meeting-address-popover-content {
      word-break: break-all;
    }
  }
}

.one-line-without-margin-bottom {
  margin-bottom: 0px !important;
}
