$searchPopoverHeight: 70px;
$searchPopoverWidth: 240px;
.team-search-input-network-failed {
  display: flex;
  margin-top: 20px;
}
.search-picker {
  width: 200px;
}
.search-picker-input {
  display: flex;
}
.searchInput-popover {
  padding-top: 0;
  padding: 19px 19px;
  box-sizing: border-box;
  min-height: $searchPopoverHeight;
  @include modal-bg;
  &.team-search-add {
    width: 318px;
  }
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner,
  .ant-popover-inner-content {
    background-color: transparent;
    box-shadow: none;
    border: 0;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
.searchResult-in-picker {
  margin-top: 20px;
}
.search-result-container {
  display: flex;
}
.teams-add-icon {
  margin-left: 10px;
  width: 30px !important;
  height: 30px !important;
}
.teams-search-add-btn-text {
  border-radius: 15px;
  color: #ffffff;
  width: 68px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  margin-left: 10px;
}

.contact-add-popover__innter {
  display: flex;
  width: 200px;
  flex-direction: column;
}
