/* 错误信息显示 */
.extra-error-text {
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
  color: $co-highlight;
  .teams-icon {
    width: 12px !important;
    height: 12px !important;
    margin-right: 8px;
  }
}
